name: Test

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 1.8, 11 ]
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - name: Scope for Maven Action
        uses: undefinedlabs/scope-for-maven-action@v1
        with:
          dsn: ${{secrets.SCOPE_DSN}}